<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>MyPhotos - Admin</title>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>		
		
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>		
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
		
		<link rel="stylesheet" href="./css/style.css">
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" 
		crossorigin="anonymous" />
		
		<script type="text/javascript">
				$(document).ready(function() {
	
					
					// dynamic version
	
					loadPhotos();
					
					$('.add-photo').on('click', function() {
						
						var newUrl = prompt('What is the new url?');
						
						if (newUrl === null) {
							
						} else {
							
							$.ajax({
								url : '/admin/api/photos',
								method : 'post',
								contentType : 'application/json',
								data : JSON.stringify({
									url : newUrl
								}),
								success : function(data) {
									
									loadPhotos();
									
									var myToast = Toastify({
										text: "Photo added successfully",
										duration: 2000
									});
	
									myToast.showToast();								
								}
							});            		
						}				
					});
					
					$('tbody').on('click', '.edit', function() {
						
						var id = $(this).data('id');
						var url = $(this).data('url');
						
						var newUrl = prompt('Edit current url', url);
						
						if (newUrl === null) {
							
						} else if (newUrl === '') {
							
							alert('Url value is required');
							
						} else if (newUrl === '') {
							
							alert('Url value is required');
							
						} else {
							
							$.ajax({
								url : '/admin/api/photos/' + id,
								method : 'put',
								contentType : 'application/json',
								data : JSON.stringify({
									url : newUrl
								}),
								success : function(data) {
									
									loadPhotos();
	
									var myToast = Toastify({
										text: "Photo modified successfully",
										duration: 2000
									});
	
									myToast.showToast();								
								}
							});            		
						}
						
					});			
					
					$('tbody').on('click', '.delete', function() {
						
						var elementToRemove = $(this).parent();
						var id = $(this).data('id');
						
						$.ajax({
							url : '/admin/api/photos/' + id,
							method : 'delete',
							success : function(data) {
								
								elementToRemove.remove();
	
								var myToast = Toastify({
									text: "Photo removed successfully",
									duration: 2000
								});
	
								myToast.showToast();								
							}
						});            		
					});
					
					function loadPhotos() {
						
						$('tbody').html('');
						
						$.ajax({
							url : '/admin/api/photos',
							method : 'get',
							success : function(data) {
								
								for(var i = data.length - 1; i >= 0; i--) {
									
									$('tbody').append('<tr><td>' + data[i].id + '</td><td>' + data[i].url + '</td><td><img src="' + data[i].url + '" width="100" height = "100" /></td><td class="edit pointer" data-id="'+ data[i].id +'" data-url="'+ data[i].url +'"><i class="fa fa-pencil" aria-hidden="true"></i></td><td class="delete pointer" data-id="'+ data[i].id +'"><i class="fa fa-trash" aria-hidden="true"></i></td></tr>');
								}
												
							}
						});
					}
					
					
					
				});
				
			</script>
	</head>
	<body>
	
		<header>
	
			<div>
				<a href="./">MyPhotos</a>
			</div>
	
		</header>
	
		<main class="admin">
	
			<div class="align-right">
				<div class="btn btn-info add-photo">ADD NEW PHOTO&nbsp;&nbsp;<i class="fa fa-plus" aria-hidden="true"></i></div>
			</div>
	
			<table class="admin-table" border="0">
				<thead>
					<tr>
						<th>Id</th>
						<th>Image url</th>
						<th>Image preview</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
	
		</main>
	
	</body>
</html>
